@import url("footer-style.css");
@import url("form-style.css");
@import url("hero-style.css");
@import url("icons-style.css");
@import url("navbar-style.css");
@import url("tile-style.css");

/* Fira Sans Google font */
@font-face {
    font-family: "Fira Sans";
    src: url(../resources/FiraSans-Regular.ttf);
}

/* Google Icons font */
@font-face {
    font-family: "Google Icons";
    src: url(../resources/Google-Icons.ttf);
}

* {
    box-sizing: border-box;
    font-family: 'Fira Sans';
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr;
    grid-template-areas: "navbar" "main" "footer";
    grid-template-rows: 3rem 1fr auto;
    min-height: 100vh;
}

main {
    grid-area: main;
}

p,
dl,
h1,
h2,
ul,
ol {
    margin-left: 2rem;
    margin-right: 2rem;
    list-style-position: inside;

}

.definition {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.2rem 2rem;
}

.definition dt {
    text-align: right;
}

.definition dd {
    text-align: left;
}

.button-link {
    background-color: red;
    border-color: transparent;
    border-radius: 5px;
    color: aliceblue;
    display: inline-block;
    padding: 0.5rem 0.5rem;
    text-align: center;
    text-decoration: none;
}

.center-container {
    display: grid;
    place-items: center;
}

.content {
    flex: 1 0 auto;
}