.product-layout {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 3fr 1fr;
    margin: 2rem 2rem;

}

.tile-group {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
}

.product-aside {
    border: 2px solid red;
    border-radius: 5px;
    padding: 1rem;
    height: fit-content;
}

.product-aside dt {
    font-weight: bold;
    padding-top: 1rem;
}

.tile {
    border: 2px solid red;
    border-radius: 5px;
    list-style-position: inside;
    padding: 1rem;
}

.tile ul, .tile ol, .tile h2 {
    margin: 0;
    width: 100%;
}

.tile:hover {
    border-color: coral;
}

.tile h2 {
    margin-bottom: 0.5rem;
}

.tile img {
    transition: transform 0.2s ease-in-out;
}

.tile:hover img,
.tile:focus-within img {
    transform: scale(1.1);
}
