/*
filename: style-icons.css
author: Charles Hutcheson
created: 2026-08-30
last modified: 2026-09-05
description: defines icons from the google icon font used in the site, used in about.html and product.html modals
*/

.icons-photo::after {
    font-family: "Google Icons";
    content: ' \e410 ';
}

.icons-email::after {
    font-family: "Google Icons";
    content: ' \e0e6 ';
}

.icons-book::after {
    font-family: "Google Icons";
    content: ' \e865 '
}

.icons-school::after {
    font-family: "Google Icons";
    content: ' \e80c ';
}

.icons-id::after {
    font-family: "Google Icons";
    content: ' \f4ca ';
}

.icons-person::after {
    font-family: "Google Icons";
    content: ' \e7fd ';
}

.icons-close::after {
    font-family: "Google Icons";
    content: '\e5cd';
}